[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "moko"]
	path = moko
	url = https://github.com/coldfir3/moko
[submodule "redR"]
	path = redR
	url = https://github.com/cran/redR
